<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Automation Suite" parallel="methods" thread-count="3">

    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>

    <test name="UI Tests">
        <classes>
            <class name="org.example.ui.AuthTests"/>
        </classes>
    </test>

    <test name="API Tests">
        <classes>
            <class name="org.example.api.ProductsApiTests"/>
            <class name="org.example.api.BrandsApiTests"/>
        </classes>
    </test>

</suite>